body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    min-height: 100vh;
}


.tarjeta {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}

.tarjeta-1 {
    background-color: #b800b8;
}

.tarjeta-2 {
    background-color: #7ac600;
}

.tarjeta:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 10px rgba(0,0,0,0.2);
}
